body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    font-size: 110%;
    color: #000;
    background: #7bb;
    box-sizing: border-box;
    padding: 20px;
}

#wrapper {
    width: 900px;
    margin: auto;
    padding: 40px;
    color: #000;
    background: #fff;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 200%;
}

p{
    font-size: 110%;
}

/* links */

a {
    color: #1484bc;
    text-decoration: none;
}

a:hover {
    color: #223;
    text-decoration: underline;
}


.number {
  /*font-size: 1.5em;
  color: #0c0;*/
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: #f65;

}

iframe {
  padding-top: 10px;
}

/* media queries */

@media (max-width: 770px) {

  iframe {
    width: 300px;
    height: 400px;
  }


    #wrapper {
        margin: 0;
        width: 100%;
        padding: 15px;
    }
    h1 {
        font-size: 2em;
    }




}

@media (max-width: 600px) {
  iframe {
    width: 300px;
    height: 400px;
  }
}
